*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerg, .containerg2 {
    width: 100dvw;
    height: 100dvh;
    font-family: "Playfair Display", serif;
    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
    transition: clip-path 0.5s ease-in-out;
}

.containerg .img{
    background: url("../../public/playground/img2.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;

}

.containerg2 .img {
    background: url("../../public/playground/img1.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
}


.content {
    
}