.inner {
    background: rgb(7, 218, 165);
    clip-path: circle(10% at 90% 15%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 250px;
    color: white;
    position: relative;
}

.inner:hover {
    clip-path: circle(100% at 50% 50%);
    background: #00B6FF;
}

.inner span {
    position: absolute;
    top: 20px;
    right: 20px;
    font: bold 20px "general";
    transition: color 0.5s;
    width: fit-content;
}

.inner:hover span {
    color: transparent;
}